.nav {
    position: fixed;
    left: -5px;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 4;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    height: 60px;
    &.active {
        opacity: 1;
    }
    &.expanded {
        height: 100%;
    }
    .linkItem {
        width: 150px;
        transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        //pointer-events: none;
        &.expanded {
            width: 300px;
            border-left: 0.1px solid #181818;
            border-right: 0.1px solid #181818;
            background: rgba(0, 0, 0, 0.8);
            pointer-events: initial;
        }
        .linkTitle {
            font-family: 'Lato', sans-serif;
            font-size: 26px;
            font-weight: 400;
            letter-spacing: 6px;
            padding: 15px 0;
            text-transform: uppercase;
            cursor: pointer;
            color: white;
            opacity: 0.5;
            transition: opacity 0.7s ease-in-out;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            &:hover {
                opacity: 1;
            }
            &.active {
                opacity: 0.8;
            }
        }
        .linkDescription {
            font-family: 'Space Mono';
            font-size: 16px;
            letter-spacing: 8px;
            line-height: 4;
            color: #D2D2D2;
            text-transform: uppercase;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.7s ease-in-out;
            pointer-events: none;
            &.show {
                opacity: 1;
                visibility: visible;
                pointer-events: initial;
            }
        }
    }
}


@media (max-width: 580px) {
    .nav {
        justify-content: flex-start;
        max-height: 200px;
        div, a {
            font-size: 14px;
        }
    }
}