.footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 10px;
    color: white;
    opacity: 0.5;
    z-index: 2;
    &:hover {
        opacity: 1;
    }
}

.layoutContainer {
    height: calc(100vh - 100px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .mainContent {
        width: 66.66%;
        max-width: 900px;
        margin: 0 auto;
        padding-top: 15px;
        .pageHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            //height: 75px;
            .pageTitle {
                font: 45px 'Abril Fatface', serif;
                letter-spacing: 2.57px;
                color: #92FF07;
            }
            .searchBar {
                input {
                    background: #282828;
                    border: none;
                    outline: none;
                    font: 12px 'Source Code Pro', sans-serif;
                    letter-spacing: 1.71px;
                    color: white;
                    height: 40px;
                    width: 355px;
                    text-align: center;
                    border-radius: 5px;
                    &::-webkit-input-placeholder {
                        color: #919191;
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .layoutContainer {
        height: calc(100vh - 50px);
        .mainContent {
            width: 95%;
            .pageHeader {
                flex-direction: column;
                margin-bottom: 50px;
            }
        }
    }
    .footer {
        display: none;
    }
}